:root{
    /* 236 */
    --size236: 14.75rem;
    /* 128 */
    --size128: 8rem;
    /* 32 */
    --size32: 2rem;
    /* 24 */
    --size24:1.5rem;
    /* 16 */
    --size16: 1rem;
    --red:#FF0000;
    --blck:#050506;
    --wht: #EFF0E8;
    --grey: #6F6F6F;
}
*{
    margin: 0;
    padding: 0;
}
.fnt1{
    font-family: "Syne", sans-serif;
}
.fnt2{
    font-family: "Syncopate", sans-serif;
}
body{
    background-color: var(--wht);
    color: var(--blck);
    width: 100%;
}
.page{
    margin: 0 auto;
    padding: 0 40px;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: var(--size236);
}
h2{
    font-size: var(--size128);
}
h3{
    font-size: var(--size32);
}
h4{
    font-size: var(--size24);
}
p{
    font-size: var(--size16);
}
.st1{
    font-weight: 700
}
.st2{
    font-weight: 800;
}
.sign{
position: absolute;
  z-index: 1;
  top: 28%;
  left: 3%;
  width: 80%;
}
.img1{
    position: absolute;
    z-index: -1;
    top: 0%;
    width: 100%;
    float: right;
}
.vd1{
    width: 12.5625rem;
    height: 7.0625rem;
    border-radius: 0.3125rem;
}
hr{
    width: 8.75rem;
    height: 0.125rem;
    background: #050506;
}
.cen{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.div2{
    justify-content: space-between;
}
.sp1{
    gap: 5%;
}
.rot{
    transform: rotate(90deg);
    width: 15%;
    text-wrap: nowrap;
    height: 0;

}
.pp3{
    padding-bottom: 15%;
}
.conte{
    width: 80%;
    padding-top: 10%;
}
.con{
    display: flex;
    justify-content: space-between;


}
.vd2{
    width: 50rem;
    aspect-ratio: 89/50;
    border-radius: 0.3125rem;
    /* box-shadow: -30px 33px 42.5px 3px rgba(0, 0, 0, 0.30); */
    padding-left: 31%;

}
.vd3{
        padding-left: 0%;

}
.c2{
    margin-right: 40%;
    left: 60%;

}
.wd2{
    width: 90%;
}
.qut{
    padding-top: 5%;
    background-image: url(../Assets/images/bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.txt1{
    color: var(--red);
    padding-left: 10%;
}
.txt3{
    line-height: 115%; /* 1.725rem */
text-transform: capitalize;
}
.sp3{
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 10%;
}
.stroke{
    color: transparent;
    -webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: var(--blck);
}
.txt3{
    color: #000;
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: #000;
font-family: Syne;
font-size: 8rem;
font-style: normal;
font-weight: 800;
text-transform: capitalize;
}
.sp4{
    padding-top: 7%;
}
.p4{
    width: 28.375rem;
    padding-right: 39%;
}
.p7{
    transform: rotate(-90deg);
    color: var(--grey);
}
.one{
    width: 14.5625rem;
height: 17.875rem;
border-radius: 0.3125rem;
}
.two{
    width: 25.5625rem;
height: 18rem;
border-radius: 0.3125rem;
}
.three{
    width: 23rem;
height: 33.375rem;
border-radius: 0.3125rem;
}
.four{
    width: 14.625rem;
height: 19.6875rem;
border-radius: 0.3125rem;
}
.vd5{

    height: 19.6875rem;
    border-radius: 0.3125rem;
}
.vd4{
    width: 14.75rem;
height: 8.3125rem;
border-radius: 0.3125rem;
margin-bottom: 5%;
}
.seven{
    width: 14.75rem;
    height: 9.0625rem;
}
.eight{
    width: 14.75rem;
border-radius: 0.3125rem;
margin: 0 auto;
  display: block;
  width: 36.5%;
}
.comp{
    justify-content: center;
  align-items: end;
  gap: 2%;
}
.sp5{
    padding-top: 2%;
    align-items: flex-start;
    padding-bottom: 2%;
}
.high{
    background-image: url(../Assets/images/highli.svg);
    background-repeat: no-repeat;
    /* background-size: contain; */
}
.ctaa{
    padding-top: 15%;
    float: left;
}
.collab{
    background-color: var(--blck);
    color: var(--wht);
}
.hrr{
    width: 90.5%;
height: 0.0625rem;
/* margin-bottom: 5% ; */
}
.emo{
    width: 40%;
}
.tyt{
    justify-content: space-between;
    width: 100%;
}
.ff{
    width: 60%;
    padding-top: 10%;
}