
.bcta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 84px;
    float: right;
    width: 58.75rem;
    padding: 1%;
    border-bottom: 1px solid #000;
    margin-top: 2%;
    transition: background-color 0.3s ease;
}


.svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    transform-origin: center;
}


 .svg path{
    transition: fill 0.3s ease;
}

 .bcta:hover{
    background-color: var(--red);
}

 .bcta:hover .svg{
    transform: rotate(45deg);
}

 .bcta:hover .svg path{
    fill: #fff;
}

 .bcta:hover h4,
.bcta:hover p{
    color: #fff;
}
