.book1{
    background-color: var(--blck);
    padding: 1%;
    align-items: center;
    display: flex;
    width: 100%;
  justify-content: space-around;
  

}
.p90{
    width: 3.375rem;
transform: rotate(-90deg);
font-weight: 400;
color: var(--wht);
}
.p91{
    color: var(--wht);
    line-height: 150%;
    height: 2%;
    font-size: larger;


}
.book1:hover{
    background-color: var(--red);
}
.book2{
    margin-left: 30%;
}
.book3{
    margin-left: 20%;
}
.books{
    margin-top: 20%;
}
