.card{
    border-radius: 0.3125rem;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    width: 25rem;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  background: rgba(255, 255, 255, 0.10); /* translucent layer */
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  color: #fff;
    width: 380px;
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: var(--blck);
  z-index: 1;
  position: absolute;
  margin: -20px;
  border: 1px solid rgba(255, 255, 255);
  background: rgba(255, 255, 255, 0.19);
}
.wd1{
    width: 19.6875rem;
    text-align: center;
}